<dl class="otazky">
    <div class="otazka">
        <dt>1</dt>
        <dd>
            <strong>Datové typy a jejich reprezentace</strong><span>:</span>
            <span class="otazky-temata"
                >int, double, struktura, pole, objekt, ukazatel, serializace,
                YAML, CSV</span
            >
        </dd>
        <dd>
            <strong>Webové technologie</strong><span>:</span>
            <span class="otazky-temata"
                >odkazy, MathML, stylování, skriptování, publikování, HTTP,
                selektor, kaskáda, preprocesor, sémantika</span
            >
        </dd>
    </div>

    <div class="otazka">
        <dt>2</dt>
        <dd>
            <strong>Databáze a SQL</strong><span>:</span>
            <span class="otazky-temata"
                >tabulka, záznamy, datové typy, primární a cizí (foreign) klíče,
                index, SQL, SELECT, UPDATE &amp; DELETE, CREATE &amp; DROP</span
            >
        </dd>
        <dd>
            <strong>Hardware: periferie</strong><span>:</span>
            <span class="otazky-temata">sběrnice, protokoly, USB</span>
        </dd>
    </div>

    <div class="otazka">
        <dt>3</dt>
        <dd>
            <strong>Nástroje pro spolupráci při programování</strong
            ><span>:</span>
            <span class="otazky-temata">mailing-list, Trac, Bugzilla, …</span>
        </dd>
        <dd>
            <strong>Zpracování aritmetického výrazu</strong><span>:</span>
            <span class="otazky-temata"
                >lexer, parser, infixový a postfixový zápis, AST, CFG</span
            >
        </dd>
    </div>

    <div class="otazka">
        <dt>4</dt>
        <dd>
            <strong>Síťová komunikace</strong><span>:</span>
            <span class="otazky-temata"
                >internet, TCP/IP, spolehlivost, adresování, socket</span
            >
        </dd>
        <dd>
            <strong>Textový procesor</strong><span>:</span>
            <span class="otazky-temata">styly, ODT, LibreOffice</span>
        </dd>
    </div>

    <div class="otazka">
        <dt>5</dt>
        <dd>
            <strong>Adresování na Internetu</strong><span>:</span>
            <span class="otazky-temata"
                >IP &amp; MAC adresa, port, proxy server, DNS, router,
                switch</span
            >
        </dd>
        <dd>
            <strong>Hardware: úložná zařízení</strong><span>:</span>
            <span class="otazky-temata"
                >HDD, SSD, CD, kapacita-rychlost-cena</span
            >
        </dd>
    </div>

    <div class="otazka">
        <dt>6</dt>
        <dd>
            <strong>Počítačová grafika a barevné modely</strong><span>:</span>
            <span class="otazky-temata"
                >barevné modely, princip uložení, BMP, PNG, JPEG, GIF, ODG,
                SVG</span
            >
        </dd>
        <dd>
            <strong>Modulární programování</strong><span>:</span>
            <span class="otazky-temata"
                >knihovna, API, ABI, verzování knihoven, linker</span
            >
        </dd>
    </div>

    <div class="otazka">
        <dt>7</dt>
        <dd>
            <strong>Programovací jazyky</strong><span>:</span>
            <span class="otazky-temata"
                >překladač, interpret, JIT, garbage collector</span
            >
        </dd>
        <dd>
            <strong>Alternativní textové formáty</strong><span>:</span>
            <span class="otazky-temata">Markdown &amp; PanDoc, LaTeX</span>
        </dd>
    </div>

    <div class="otazka">
        <dt>8</dt>
        <dd>
            <strong>Virtualizace a cloud</strong><span>:</span>
            <span class="otazky-temata"
                >virtualizace komponent (disk, síť, obrazovka),
                infrastruktura/platforma/software jako služba
                (IaaS/PaaS/Saas)</span
            >
        </dd>
        <dd>
            <strong>Historie hardware a software</strong><span>:</span>
            <span class="otazky-temata"
                >relé, elektronky, děrné štítky, vícejádrové procesory, cloud,
                vzdálený přístup, internet</span
            >
        </dd>
    </div>

    <div class="otazka">
        <dt>9</dt>
        <dd>
            <strong>Verzovací systémy</strong><span>:</span>
            <span class="otazky-temata"
                >revize, větev, repozitář, klon, fork, Git, Subversion</span
            >
        </dd>
        <dd>
            <strong>Číselné soustavy</strong><span>:</span>
            <span class="otazky-temata">Hornerovo schéma, převody</span>
        </dd>
    </div>

    <div class="otazka">
        <dt>10</dt>
        <dd>
            <strong>Kryptografie a ochrana informací</strong><span>:</span>
            <span class="otazky-temata"
                >symetrické a asymetrické šifry, RSA, one-time pad,
                steganografie, solení (salt) hesel</span
            >
        </dd>
        <dd>
            <strong>Testování softwaru</strong><span>:</span>
            <span class="otazky-temata"
                >unit testing, pokrytí kódu, druhy testů (funkční, výkonnostní,
                systémové, …), JUnit</span
            >
        </dd>
    </div>

    <div class="otazka">
        <dt>11</dt>
        <dd>
            <strong>Multimedia a jejich prezentace</strong><span>:</span>
            <span class="otazky-temata"
                >kontejner, kodek, DVD, AVI, MP3, stopa, titulky, VGA, HDMI, DAC
                (D/A převodník)</span
            >
        </dd>
        <dd>
            <strong>Základy objektově orientovaného programování</strong
            ><span>:</span>
            <span class="otazky-temata"
                >zapouzdření, dědičnost, polymorfismus, rozhraní, emulace bez
                podpory překladače</span
            >
        </dd>
    </div>

    <div class="otazka">
        <dt>12</dt>
        <dd>
            <strong>Správa a zabezpečení počítačových systémů</strong
            ><span>:</span>
            <span class="otazky-temata"
                >VNC a SSH, firewall, aktualizace, hesla</span
            >
        </dd>
        <dd>
            <strong>Publikování na webu</strong><span>:</span>
            <span class="otazky-temata">protokoly, typy hostingů</span>
        </dd>
    </div>

    <div class="otazka">
        <dt>13</dt>
        <dd>
            <strong>Prohledávání do hloubky a do šířky</strong><span>:</span>
            <span class="otazky-temata"
                >nalezení nejkratší cesty, průchod bludištěm, stavový
                prostor</span
            >
        </dd>
        <dd>
            <strong>Dávkové úlohy (práce v příkazové řádce)</strong
            ><span>:</span>
            <span class="otazky-temata">Bash, cURL, grep, sed</span>
        </dd>
    </div>

    <div class="otazka">
        <dt>14</dt>
        <dd>
            <strong>E-mail a instant messaging</strong><span>:</span>
            <span class="otazky-temata"
                >protokoly, formát zpráv, SMTP, POP3, IMAP</span
            >
        </dd>
        <dd>
            <strong>Algoritmy třídění</strong><span>:</span>
            <span class="otazky-temata"
                >bubble-sort, insertion-sort, quick-sort, složitost</span
            >
        </dd>
    </div>

    <div class="otazka">
        <dt>15</dt>
        <dd>
            <strong>Licencování softwaru a otevřený software</strong
            ><span>:</span>
            <span class="otazky-temata"
                >placený software, shareware, freeware, open source, GPL, BSD,
                CC, MIT</span
            >
        </dd>
        <dd>
            <strong>Specializované programovací jazyky</strong><span>:</span>
            <span class="otazky-temata"
                >XSLT, R, JavaScript, shell, regulární výrazy, LaTeX</span
            >
        </dd>
    </div>

    <div class="otazka">
        <dt>16</dt>
        <dd>
            <strong>Hardware: CPU, paměť a architektura počítače</strong
            ><span>:</span>
            <span class="otazky-temata"
                >registry, cache, instrukční sada, jádra a vlákna,
                motherboard</span
            >
        </dd>
        <dd>
            <strong>Typografie</strong><span>:</span>
            <span class="otazky-temata"
                >font, slitky, kerning, vdova, sirotek</span
            >
        </dd>
    </div>

    <div class="otazka">
        <dt>17</dt>
        <dd>
            <strong>Operační systémy a ovladače</strong><span>:</span>
            <span class="otazky-temata"
                >souběh programů, ovladače, multitasking, uživatelské
                rozhraní</span
            >
        </dd>
        <dd>
            <strong>Uživatelská rozhraní a UX design</strong><span>:</span>
            <span class="otazky-temata"
                >UX, uživatelské rozhraní, přístupnost</span
            >
        </dd>
    </div>

    <div class="otazka">
        <dt>18</dt>
        <dd>
            <strong>Grafy</strong><span>:</span>
            <span class="otazky-temata"
                >graf, stupeň, posloupnosti vrcholů, strom, grafové
                algoritmy</span
            >
        </dd>
        <dd>
            <strong>Překladače a řízení překladu</strong><span>:</span>
            <span class="otazky-temata"
                >front-end a back-end překladače, mezikód (bajtkód), make,
                npm</span
            >
        </dd>
    </div>

    <div class="otazka">
        <dt>19</dt>
        <dd>
            <strong>Dynamické datové struktury</strong><span>:</span>
            <span class="otazky-temata"
                >binární strom, spojový seznam, paměťová náročnost</span
            >
        </dd>
        <dd>
            <strong>Nízkoúrovňové systémy a logika</strong><span>:</span>
            <span class="otazky-temata"
                >hradlo, množina, logický obvod, mikrokontroler</span
            >
        </dd>
    </div>

    <div class="otazka">
        <dt>20</dt>
        <dd>
            <strong>3D tisk a CAD programy</strong><span>:</span>
            <span class="otazky-temata"
                >FDM, SLA, SLS, materiály, troubleshooting tisku,
                modelování</span
            >
        </dd>
        <dd>
            <strong>Znak, řetězec a lokalizace</strong><span>:</span>
            <span class="otazky-temata"
                >znakové sady, UTF, internacionalizace vs lokalizace,
                gettext</span
            >
        </dd>
    </div>
</dl>
