{% component questions2627() %}
<dl class="otazky">
<div class="otazka seen">
<dt>1</dt>
<dd>
<strong>Datové typy a jejich reprezentace</strong><span>:</span>
<span class="otazky-temata"
>základní datové typy; reprezentace celých čísel, typické
velikosti na různých procesorech; reprezentace záporných čísel v
jedničkovém a dvojkovém doplňku, jejich výhody a nevýhody;
fixed-point desetinná čísla; pole a asociativní pole (hashmap,
slovník); řetězec</span
>
</dd>
</div>

<div class="otazka seen">
<dt>2</dt>
<dd>
<strong>Webové technologie</strong><span>:</span>
<span class="otazky-temata"
>popsat využití jednotlivých technologií; HTML (typická
struktura webové stránky, tagy a atributy, sémantické HTML); CSS
(selektory, kaskáda, preprocesor, příklady konkrétních
pravidel); využívané protokoly rodiny TCP/IP; možnosti
publikování webových stánek a hostingu; rozdíly mezi nasazování
a správy webu pomocí redakčního systému (CMS) a generátoru
statického webu (SSG)</span
>
</dd>
</div>

<div class="otazka">
<dt>3</dt>
<dd>
<strong>Databáze a SQL</strong><span>:</span>
<span class="otazky-temata"
>využití databází, proč a kdy je použít; analogie s objektovým
návrhem; zjednodušený UML diagram; tabulky, záznamy, řádky a
sloupce; datové typy; primární a cizí (foreign) klíče; indexy;
SQL a jeho syntax; základný dotazy v jazyce SQL</span
>
</dd>
</div>

<div class="otazka seen">
<dt>4</dt>
<dd>
<strong>Hardware: periferie a úložná zařízení</strong><span>:</span>
<span class="otazky-temata"
>typy sběrnic a protokolů; USB; rozdíly mezi HDD a SSD;
technologie CD, DVD; porovnání kapacita-rychlost-cena</span
>
</dd>
</div>

<div class="otazka seen">
<dt>5</dt>
<dd>
<strong>Verzovací systémy a spolupráce při programování</strong
><span>:</span>
<span class="otazky-temata"
>staging area, working copy; větev, repozitář, klon, fork;
základní práce s Git a jeho koncepty; software pro spolupráci
při programování, jejich vývoj</span
>
</dd>
</div>

<div class="otazka">
<dt>6</dt>
<dd>
<strong>Zpracování aritmetického výrazu</strong><span>:</span>
<span class="otazky-temata"
>lexer a parser; zápisy aritmetických výrazů: infix, postfix,
prefix; AST; algoritmus Shunting yard; bezkontextová gramatika a
princip aplikace pravidel</span
>
</dd>
</div>

<div class="otazka">
<dt>7</dt>
<dd>
<strong>Síťová komunikace</strong><span>:</span>
<span class="otazky-temata"
>přenos dat v rámci i mezi sítěmi; internet a jeho struktura;
protokoly vrstev TCP/IP hierarchie; (Ne)spolehlivý a
(ne)spojovaný přenos, příbuzné termíny; síťová zařízení;
adresování v rámci a mezi sítěmi, typy adres, port; DNS; překlad
doménových jmen na adresy</span
>
</dd>
</div>

<div class="otazka seen">
<dt>8</dt>
<dd>
<strong>Počítačová grafika a typografie</strong><span>:</span>
<span class="otazky-temata"
>bitmapová a vektorová grafika; formáty pro uložení obrázku
(BMP, JPG, PNG, SVG), jejich rozdíly a principy; komprese
obrázků; barevné modely; font, slitek, kerning, vdova, sirotek;
základní typografická pravidla</span
>
</dd>
</div>

<div class="otazka">
<dt>9</dt>
<dd>
<strong>Teorie programování</strong><span>:</span>
<span class="otazky-temata"
>programovací jazyk, překladač; různá dělení programovacích
jazyků; porovnání různých programovacích jazyků (syntaxe,
nabízené funkce, správa paměti); základy objektově orientovaného
progrmování (dědičnost, zapouzření, polymorfismus); abstraktní
třídy a jejich použití</span
>
</dd>
</div>

<div class="otazka">
<dt>10</dt>
<dd>
<strong>Alternativní textové formáty a reprezentace textu</strong
><span>:</span>
<span class="otazky-temata"
>rozdíly mezi textovým procesorem a repezentací formátovaného
textu v plaintextu; možnosti stylování v textovém procesoru
(LibreOffice, MS Word); Markdown, LaTeX/Typst, program Pandoc;
znaková sada; ASCII, UTF; reprezentace řetězců v paměti</span
>
</dd>
</div>

<div class="otazka">
<dt>11</dt>
<dd>
<strong>Historie hardware a software</strong><span>:</span>
<span class="otazky-temata"
>relé, elektronka, tranzistor, děrné štítky; mikroprocesor,
vícejádrové procesory; cloud, vzdálený přístup, internet</span
>
</dd>
</div>

<div class="otazka">
<dt>12</dt>
<dd>
<strong>Ochrana informací a zabezpečení systémů</strong
><span>:</span>
<span class="otazky-temata"
>symetrické a asymetrické šífry; one-time pad, RSA; hashování;
solení hesel; protokoly SSH, principy vzdálené správy; firewall,
demilitarizovaná zóna</span
>
</dd>
</div>

<div class="otazka">
<dt>13</dt>
<dd>
<strong>Testování softwaru</strong><span>:</span>
<span class="otazky-temata"
>unit testing, integration testing; pokrytí kódu; druhy testů;
testovací framework</span
>
</dd>
</div>

<div class="otazka">
<dt>14</dt>
<dd>
<strong>Multimedia a jejich prezentace</strong><span>:</span>
<span class="otazky-temata"
>kontejner, kodek; kodovani a dekodovani videa a audia,
komprese; CD, DVD, Blue ray; reprezentace audia v počítači; VGA,
HDMI, DisplayPort; převod digitálního na analogový signál;
ekvalizace zvuku, princip Fourierovy transformace</span
>
</dd>
</div>

<div class="otazka">
<dt>15</dt>
<dd>
<strong>Dávkové úlohy (práce v příkazové řádce)</strong
><span>:</span>
<span class="otazky-temata"
>příkazová řádka, principy, ovládání, výhody a nevýhody;
programování v rámci příkazové řádky, dávkové úlohy</span
>
</dd>
</div>

<div class="otazka">
<dt>16</dt>
<dd>
<strong>E-mail a instant messaging</strong><span>:</span>
<span class="otazky-temata"
>protokoly využívané v e-mailové komunikaci (SMTP, POP3, IMAP);
formát zprávy; možné útoky; rozdíly e-mailu a instant
messagingu</span
>
</dd>
</div>

<div class="otazka seen">
<dt>17</dt>
<dd>
<strong>Algoritmy třídění</strong><span>:</span>
<span class="otazky-temata"
>třídění čísel, řetězců; Bubble-sort, Insert-sort; Quick-sort,
Merge-sort; složitost algoritmů třídění; stabilita třidicího
algoritmu</span
>
</dd>
</div>

<div class="otazka">
<dt>18</dt>
<dd>
<strong>Licencování softwaru a otevřený software</strong
><span>:</span>
<span class="otazky-temata"
>placený software, shareware, freeware; open source software;
licence MIT, GPL, CC a jejich rozdíly</span
>
</dd>
</div>

<div class="otazka">
<dt>19</dt>
<dd>
<strong>Specializované programovací jazyky</strong><span>:</span>
<span class="otazky-temata"
>důvody využití, rozdíly oproti ostatním programovacím jazykům;
jayzk pro statistické výpočty R; shell; regulární výrazy;
LaTeX/Typst</span
>
</dd>
</div>

<div class="otazka">
<dt>20</dt>
<dd>
<strong>Hardware: CPU, paměť a architektura počítačů</strong
><span>:</span>
<span class="otazky-temata"
>registry, cache, instrukční sada; jádro a vlákno; základní
deska; logika a hradla; využití různých číselných soustav v
informatice; princip převodu mezi soustavami; Hornerovo
schéma</span
>
</dd>
</div>

<div class="otazka">
<dt>21</dt>
<dd>
<strong>Operační systémy a virtualizace</strong><span>:</span>
<span class="otazky-temata"
>souběh programů; ovladače; multitasking; uživatelské rozhraní;
virtualizace komponent (disk, síť, obrazovka); IaaS, PaaS, SaaS;
kontejnerizace versus virtualní stroj, jejich porovnání a
použití</span
>
</dd>
</div>

<div class="otazka">
<dt>22</dt>
<dd>
<strong>Grafy a prohledávání</strong><span>:</span>
<span class="otazky-temata"
>graf, stupeň, posloupnosti vrcholů, strom; prohledávání do
hloubky a do šířky; problém nejkratší cesty</span
>
</dd>
</div>

<div class="otazka">
<dt>23</dt>
<dd>
<strong>Překladače a řízení překladu</strong><span>:</span>
<span class="otazky-temata"
>lexer, parser, AST; front-end a back-end překladače; JIT, AOT
překlad; mezikód a běhové prostředí; program pro řízení překladu
(make, npm, apod.)</span
>
</dd>
</div>

<div class="otazka seen">
<dt>24</dt>
<dd>
<strong>Dynamické datové struktury</strong><span>:</span>
<span class="otazky-temata"
>rozdíly mezi dynamickou a statickou datovou strukturou, jejich
použití; binární strom; spojový seznam; nafukovací pole;
paměťová a časová náročnost operací na nich; správa paměti
(garbage collector)</span
>
</dd>
</div>
</dl>

{% endcomponent questions2627 %}
