{% extends "base.html" %} {%block title%} Semináře programování - progalej.cz
{%endblock%} {% block content %}
<main class="col">
    <section class="small">
        <h1>Semináře programování na Gymnáziu nad Alejí</h1>
    </section>
    <section class="button-container">
        <button>
            <a href="/pgu"> PgU (začátečníci) </a>
        </button>
        <button>
            <a href="/pg"> Pg (pokročilí) </a>
        </button>
    </section>

    <div class="search-container">
        <input id="search" type="search" placeholder="🔎 Hledat" />

        <div class="search-results">
            <div class="search-results__items"></div>
        </div>
    </div>

    <blockquote class="warning">
        <p>
        Aktualizováno pro školní rok <b>2026/27</b>.
        </p>
    </blockquote>

    <article>
        <section>
            <p>
                Vítejte! Tady najdete veškeré informace ohledně studia seminářů
                Pg a PgU na Gymnáziu nad Aleji. Na podstránky se dostanete
                prokliky nahoře. Tam budou <b>zadávané úkoly</b> a
                <b>zveřejňované zápisky z hodin</b>.
            </p>

            <p>
                Kde mě najdete? <strong>kabinet 110</strong> (čtvrtky mezi 11:30
                a 16:30)
            </p>
            <p>
                Kam máte psát?
                <strong>martin.rosenberg (zavináč) alej.cz</strong>
            </p>

            <p>
                Konzultace bez předchozí dohody jsou možné, v časech, které jsou
                podmnožinou intervalu zmíněného nahoře, ale zároveň disjunktní s
                časem, kdy učím. O konzultace mimo tento čas (nebo konzultace
                delší) prosím pište na e-mail.
            </p>
        </section>
        <section>
            <h2>Pravidla hry</h2>

            <p>
                Rád bych, abychom se na seminářích nepobili, abyste si něco
                odnesli a já abych si neodnesl šrámy na duši. Proto si prosím
                přečtěte těchto pár bodů, které vás s průběhem semináře seznámí.
            </p>

            <h3>Pravidlo první — komunikace</h3>

            <p>
                Pokud budete mít v průběhu roku nějaký technický problém, jako
                první konzultujte Google či jiná vyhledávátka. Je důležité se s
                vyhledávači naučit a obecně se říká, že práce programátora je z
                velké části googlení. To může být pravda u některých, ale v
                obecnosti to tak není, je potřeba i přemýšlet. Přesto prosím
                první googlete a až poté se ptejte mě (platí hlavně pro maily).
            </p>

            <p>
                Pokud se budete cítit ztracení nebo nebudete bude stíhat (z
                jakéhokoli důvodu), <b>ozvěte se</b>. Seminář bude určitě pro
                některé z vás velmi náročný, pro některé naprostá pohodička, ale
                to neznamená, že chci, abyste se topili. Takže
                <b>pište, pište, pište</b>. Kamkoli, ale ideálně na můj školní
                mail.<br /><br />

                Pokud budete mít jakýkoli jiný problém, co se vašeho studia
                týče, máte ve škole (doufám) hodně kanálů, jak ho řešit. Třídní,
                zástupce ředitele (což je i výchovný poradce pro vyšší gymnázium
                a je moc fajn), ale jestli chcete problém řešit přímo se mnou a
                přijdu vám jako nejvíce safe člověk se kterým to probrat, určitě
                se neváhejte ozvat.
            </p>

            <h3>Pravidlo druhé — používání AI a LLM nástrojů</h3>

            <p>
                Nástroje jako ChatGPT a Claude <b>nejsou výslovně zakázané</b>,
                ale chci, abyste odpovědi rozuměli. <b>Vždycky</b>
                chci, abyste odpovědi umělé inteligenci oponovali a snažili se z
                ní vymáčknout co nejlepší odpověď, kterou budete
                <b>chápat</b>. Pokud odpovědi (nebo části odpovědi) nerozumíte,
                klidně se mě zeptejte. Pokud ale budete jen slepě kopírovat
                výstupy z ChatGPT, tak to poznám, pracuju s AI každý den.
            </p>

            <h3>Pravidlo třetí — úkoly</h3>

            <p>
                Úkoly prosím dělejte. Máte na ně dostatek času. Termín
                odevzdávání je vždy
                <b
                    >viditelný v Classroomu (většinou úterní programátorská půlnoc,
                    tedy středa okolo čtvrté ráno)</b
                >. Odevzdávejte ale kdykoli, a to z jednoduchého důvodu.<br /><br />
                Funguje u mě <b>iterativní opravování</b>. Pokud odevzdáte úkol,
                co nejdřív se na něj podívám a ohodnotím ho v takovém stavu,
                jakém je. Jestli nedostanete plný počet bodů, můžete se pokusit o
                opravu. Většinou poskytnu i malou nápovědu. Pamatujte, že i částečné
                řešení je řešení a dostanete za něj nějaké body.
            </p>

            <h3>Pravidlo čtvrté — spolupráce</h3>

            <p>
                V praxi se o problémech, které řešíte, budete se svými kolegy
                bavit pořád.
                <b>I tady můžete spolupracovat</b>, ale s jednou podmínkou.
                Pokud budete spolupracovat, <b>pište řešení každý sám</b>.
                Jestli dostanu odevzdaná dvě velice podobná řešení, hrozí vám
                celá škála postihů, ten nejmírnější je neschopnost získat lepší
                než známku (3) ze semináře. Ten nejhorší je (N) na vysvědčení a
                tudíž i nemožnost skládat maturitu z informatiky.
            </p>
        </section>
        <section>
            <h2>Známkování</h2>

            <p>
                To bude pro oba semináře jednotné. Školní rok bude rozdělený do
                období, za které budete získávat body. Ty se poté přepočítají na
                známky následovně:
            </p>

            <ul>
                <li>>85 % bodů — (1)</li>
                <li>>75 % bodů — (2)</li>
                <li>>60 % bodů — (3)</li>
                <li>>50 % bodů — (4)</li>
                <li>jinak — (5)</li>
            </ul>

            <p>
                Body půjdou získat více způsoby. Ty hlavní jsou <b>úkoly</b>. Na
                hodinách se občas bude psát <b>malá písemka</b>
                (malá protože za ní bude málo bodů), která slouží jednak pro
                osvěžení znalostí z minula a zároveň jako jednoduchá možnost na
                získání bodíků.
            </p>

            <p>
                Také budou extra možnosti za extra body. Řešení úloh ze soutěže
                Kasiopea nebo těžké úkoly (buď matematické nebo
                algoritmicko-programovací), které budou znalostně nad rámec
                semináře, ale pamatujte, že i snaha se počítá. Zároveň můžete
                napsat prográmek s dokumentací, za který dostanete nějaké
                bodíky.
            </p>
        </section>
        <section>
            <h2>Feedback od studentů k semináři Pg</h2>

            <p>
                Na konci školního roku rozdávám studentům dotazník s tím, jak předmět hodnotí a co by doporučili studentům,
                kteří si seminář zapsali. Zde je výběr některých odpovědí.
            </p>

            <h3>Jak celkově předmět hodnotím?</h3>

            <blockquote>
                <p>
                    Velmi dobre, velmi me bavil a dozvedel jsem se mnoho noveho. ... Kdybych vybiral znovu, urcite bych si ho vybral podruhe.
                </p>
            </blockquote>
            <blockquote>
                <p>
                    Pro mě dobře splnil očekávání, neplánoval jsem z informatiky maturovat, takže jsem na programování chodil poslechnout si zajímavé věci a jako bonus si možná zapamatovat základní pochopení témat.
                </p>
            </blockquote>
            <blockquote>
                <p>
                    Velmi kladně, chodil jsem na něj rád.
                </p>
            </blockquote>

            <blockquote>
                <p>jako pohodový poslech na konci čtvrtka kde jsem se i neco dozvedel a treba hned nezapomnel
                </p>
            </blockquote>

            <h3>Co doporučuji pro budoucí studenty semináře?</h3>

            <blockquote>
                <p>
                    Ptát se
                </p>
            </blockquote>
            <blockquote>
                <p>
                    Dávat pozor hlavně na začátku
                </p>
            </blockquote>
            <blockquote>
                <p>
                    Vzdycky se ptat kdyz necemu nerozumi, snazit se latku chapat skrz rok, na maturitu se to hodi.
                </p>
            </blockquote>
            <blockquote>
                <p>
                    Maturantům aby si dělali poznámky k otázkám v průběhu roku a v průběhu hodin kdy se to zrovna probírá a nenechávali to na svaťák, Martin nám dává fakt skvělé příležitosti se nechat zkoušet a tak..
                </p>
            </blockquote>
            <blockquote>
                <p>
                    Jinak pro lidi co se rozhodují jestli půjdou na seminář z prográmka - no, měli by počítat s tím, že tomu budou muset věnovat nějaký čas, třeba před Vánocemi bylo hodně úkolů, ale bylo to datelné.(nechala jsem všechno na poslední chvíli)
                </p>
            </blockquote>
            <blockquote>
                <p>
                    nebrat to jako seminář/maturitu zadarmo, na maturitní práci je potřeba docela dost úsilí. na druhou stranu se nebát, s trochou snahy je to úplně v pohodě. nebát se zeptat na podrobnosti Martina, případně (brzy) bývalých studentů, to by mi asi při rozhodování se kolem maturit hodně pomohlo
                </p>
            </blockquote>
            <blockquote>
                <p>
                    Pokud chcete seminar kvuli programovani a ostatni veci vas vubec nezajimaji, zvazte vyber jeste jednou.
                </p>
            </blockquote>
        </section>
        <section>
            <h2>Archiv</h2>

            <ul>
                <li><a href="2425">2024/25</a></li>
                <li><a href="2526">2025/26</a></li>
            </ul>
        </section>
        <section>
            <h2>Matika</h2>

            <ul>
                <li><a href="mat/gen-fce">Generující funkce (seminář analýzy, prosinec 2025)</a></li>
                <li><a href="mat/kry">Algebry a šifry (seminář algebry, květen 2026)</a></li>
                <li><a href="mat/grup">Grupy a tělesa (seminář algebry)</a></li>
            </ul>
        </section>
    </article>
</main>
{% endblock content %}
